*{
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color:#393c41;
    margin:0;
    padding:0;
    font-weight:300;

}
body{
    width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
   
}
@keyframes animateDown {   /* arrow down bounce animations */
    0%, 20%, 80%, 100% {
        transform: translateY(0);
    }
    40%{
        transform:translateY(5px);   /* moves 5px up */
    }
    60%{
        transform: translateY(3px);  /* moves 3px up  */
    }
}
